.container {
  max-width: 600px;
}

/* forma de separar contenido con flex y gap 
evitando usar tanto mb,mt,p,etc */
#login {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.acciones {
  display: flex;
  gap: 20px;
}

/* menu html */

/* otra forma de separa contenido pero en 
 forma de erencia  */

.menu>* {
  margin-top: 15px;
}

/* deposit html */

#deposit {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* send money html */

#sendmoney {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-info {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

/* transactions html */

.list-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-selected{
  border: 2px solid #0066ff;
  background-color: #ebf3ff;
}

