/* ALL */

* {
  font-family: "Inter", sans-serif;
}

body {
  background: #f5f7fb;
}

.display-format {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.acciones {
  display: flex;
  gap: 20px;
}

.form-control {
  height: 48px;
}

.btn {
  height: 46px;
  border-radius: 10px;
}

/* ======== TARJETAS Y MODALES ======== */

.card {
  border: none;
  border-radius: 18px;
  width: 100%;

  margin: 15px 0;
}

.card-body {
  padding: 30px;
}

.modal-content {
  border-radius: 18px;
}


/* ======== LOGIN ======== */

.login-body {
  background: #f5f7fb;
}

.login-card .card-body {
  padding: 40px;
}

.login-card h2 {
  font-weight: 700;
}

.login-card p {
  font-size: .95rem;
}

#alert-bootstrap {
  margin-bottom: 15px;
}

/* ======== MENU ======== */

#saldo-total {
  font-size: 3rem;
  font-weight: 700;
}

/* ======== SEND MONEY ======= */

.contact-list {
  max-height: 350px;
  overflow-y: auto;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  cursor: pointer;
  transition: .25s;
}

.contact-info:hover {
  background: #f8f9fa;
}

.contact-selected {
  border: 2px solid #0d6efd;
  background: #eef5ff;
}

.contact-name {
  font-weight: 600;
}

.contact-details {
  color: #6c757d;
  font-size: .9rem;
}

.contact-list::-webkit-scrollbar {
  width: 8px;
}

.contact-list::-webkit-scrollbar-thumb {
  background: #cfd4da;
  border-radius: 10px;
}

/* deposit html */

#deposit {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* transactions html */

.list-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-selected{
  border: 2px solid #0066ff;
  background-color: #ebf3ff;
}

